PORT=5002
DB_HOST=localhost
DB_PORT=3306
DB_USER=u335953510_tiktok
DB_PASSWORD=NkbManufacturing2026
DB_NAME=u335953510_tiktracker
JWT_SECRET=super_secret_jwt_token_for_tiktracker_pro_2026
JWT_REFRESH_SECRET=super_secret_refresh_token_for_tiktracker_pro_2026
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
NODE_ENV=production
